<div class="row" style="height: 100% ; overflow: hidden">
    <div class="col-sm-4" style="height: 100% ; overflow: hidden">
            <div class="panel panel-default panel-info">

                <div class="panel-body">
                <form action="" class="form-horizontal" id="addProductForm" name="addProductForm" novalidate>

                    <div class="form-group">
                        <label for="barCode" class="control-label col-sm-5">Bar Code</label>
                        <div class="col-sm-6">
                            <input type="text" id="barCode" class="form-control" ng-model="shared.barCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productId" class="control-label col-sm-5">Product ID</label>
                        <div class="col-sm-6">
                            <input required type="text" id="productId" name="productId" class="form-control" ng-model="unitSale.product.productId">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="productName" class="control-label col-sm-5">Product Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="productName" class="form-control" ng-model="unitSale.product.productName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="qty" class="control-label col-sm-5">Qty</label>
                        <div class="col-sm-6">
                            <input type="text" id="qty" class="form-control" ng-model="unitSale.qty">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="measuredIn" class="control-label col-sm-5">Measured In</label>
                        <div class="col-sm-6">
                            <input type="text" id="measuredIn" class="form-control" ng-model="unitSale.product.measuredIn" disabled="disabled">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button class="btn btn-primary" ng-click="loadProductData(unitSale)">Load</button>
                            <button class="btn btn-primary" ng-click="addUnitSale(unitSale)">Add</button>
                            <button type="button" class="btn btn-default">Cancel</button>

                        </div>
                    </div>

                </form>
                </div>
            </div>
    </div>

    <div class="col-sm-8" style="height:100%; overflow-y: hidden">

        <div class="row" style="height:70%; overflow-y: hidden">
            <div class="panel panel-default panel-info" style="height:100%; overflow-y: auto">

                <table st-table="displayedUnitSales" st-safe-src="unitSales"  class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Measured In</th>
                        <th>Qty</th>
                        <th>Sub Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="unitSale in displayedUnitSales track by $index">
                        <td>{{unitSale.product.productId}}</td>
                        <td>{{unitSale.product.productName | uppercase}}</td>
                        <td>{{unitSale.product.description}}</td>
                        <td>{{unitSale.product.price}}</td>
                        <td>{{unitSale.product.measuredIn}}</td>
                        <th>{{unitSale.qty}}</th>
                        <th>{{unitSale.unitTotal}}</th>
                        <td>
                            <button type="button" ng-click="removeUnitSale(unitSale)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove">
                                </i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <!--tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="4" st-displayed-pages="7"></div>
                        </td>
                    </tr -->
                    </tfoot>
                </table>
            </div>
        </div>



        <div class="row" style="height:30%; overflow: hidden">

            <div class="container col-sm-6 col-sm-offset-5">
                <table class="table table-striped">
                    <tr>
                        <td width="20%">Total</td>
                        <td width="20%">{{sale.finalTotal}}</td>
                    </tr>
                    <tr>
                        <td width="20%">Tax</td>
                        <td width="20%">0</td>

                    </tr>
                    <tr style="width:100%">
                        <td width="20%">To Pay</td>
                        <td width="20%">{{sale.finalTotal}}</td>
                        <td width="20%">
                            <button type="button" class="btn btn-sm btn-info" ng-click="pay()">Pay
                            </button>
                        </td>
                        <td width="20%"><button type="button" class="btn btn-sm btn-info">Void
                        </button></td>
                        <td width="20%"><button type="button" class="btn btn-sm btn-info">Reset
                        </button></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


